@page
@model SchoolProject2.Areas.Student.Pages.AllSchedulesModel
@{
}
<div class="mb-10 flex items-center justify-between">
    <div>
        <h1 class="text-2xl font-bold">Manage your Schedules</h1>
        <p class="text-gray-500">All your Schedules</p>
    </div>
</div>
<form method="post">
    <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-hidden border-b border-gray-200 rounded">
                    <table class="min-w-full divide-y divide-gray-200">
                        <thead class="bg-gray-50">
                            <tr>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Day Of Week</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Start Time</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">End Time</th>
                                <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Course</th>
                                <th scope="col" class="relative px-6 py-3">
                                    <span class="sr-only">Action</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="bg-white divide-y divide-gray-200">
                            @if (Model.Schedules != null)
                            {
                                @foreach (var item in Model.Schedules)
                                {
                                    <tr>
                                        <td class="px-6 py-4 whitespace-nowrap">  @item.ScheduleId</td>
                                        <td class="px-6 py-4 whitespace-nowrap">  @item.DayOfWeek  </td>
                                        <td class="px-6 py-4 whitespace-nowrap">  @item.StartTime.TimeOfDay </td>
                                        <td class="px-6 py-4 whitespace-nowrap">  @item.EndTime.TimeOfDay </td>
                                        @if (item.Course != null)
                                        {
                                            <td class="px-6 py-4 whitespace-nowrap">  @item.Course.CourseName </td>
}
                                        else
                                        {
                                            <td class="px-6 py-4 whitespace-nowrap">  No Course Assigned </td>
}
                                        <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                     class="h-5 w-5"
                                                     fill="none"
                                                     viewBox="0 0 24 24"
                                                     stroke="currentColor">
                                                    <path stroke-linecap="round"
                                                          stroke-linejoin="round"
                                                          stroke-width="2"
                                                          d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z" />
                                                </svg>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-page="Index">Back to Student Panel</a>
</div>