@inject SignInManager<IdentityUser> SignInManager

<ul class="space-y-5">
    <li class="px-6 py-3 hover:bg-gray-100 transition duration-200 rounded">
        <a class="font-medium text-lg @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100 transition duration-200 rounded">
        <a class="font-medium text-lg @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100 transition duration-200 rounded">
        <a class="font-medium text-lg @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100 transition duration-200 rounded">
        <a class="font-medium text-lg @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a>
    </li>
    <li class="px-6 py-3 hover:bg-gray-100 transition duration-200 rounded">
        <a class="font-medium text-lg @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a>
    </li>
</ul>
