@page
@model SchoolProject2.Areas.Admin.Pages.EnrolmentsModel
@{
}

<h3 style="color:red">All Enrollments</h3>
<table class="table">
    <thead>
        <tr>
            <th>  Student Id </th>
            <th>  Course Id </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        @if (Model.Courses != null)
        {
            foreach (var item in Model.Courses.StudentUsers)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@Model.Courses.CourseId</td>
                    <td><a asp-route-userId="@item.Id" asp-route-courseId="@Model.Courses.CourseId" asp-page-handler="Delete">Delete</a></td>
                </tr>
            }
        }
        <tr>
            <td>Course user count: </td>
            <td>@Model.Courses.StudentUsers.Count</td>
        </tr>
    </tbody>
</table>